@page "/BasicMaze"
@using Microsoft.VisualBasic
@using labyrinth
@using MermaidJS.Blazor

<PageTitle>Basic Maze Visualizer</PageTitle>

<h1>Enter your name</h1>
<input @bind="userName" />
<button @onclick="generateMaze">Generate Basic Maze</button>

<MermaidDiagram Definition=@mazeBody />

@code
{
    string userName;
    string mazeBody;
    IEnumerable<NodeLink> links =[];

    void generateMaze()
    {
        MazeCell startLocation = MazeUtilities.mazeFor(userName);
        links = exploreMaze(startLocation);        
        mazeBody = "graph TD\n";
        mazeBody += string.Join(separator: "\n", links.Select(l => l.Label));
    }

    IEnumerable<NodeLink> exploreMaze(MazeCell start)
    {
        List<NodeLink> linksTest = new List<NodeLink>();
        exploreNode(start, linksTest);
        return linksTest;
    }

    void exploreNode(MazeCell current, List<NodeLink> links)
    {
        if (current is null)
        { return; }

        if (current.North is not null)
        {
            var northLink = new NodeLink(current, "North", current.North);
            if (!links.Contains(northLink))
            {
                links.Add(northLink);
                exploreNode(current.North, links);
            }
        }

        if (current.East is not null)
        {
            var eastLink = new NodeLink(current, "North", current.East);
            if (!links.Contains(eastLink))
            {
                links.Add(eastLink);
                exploreNode(current.East, links);
            }
        }
    
        if (current.South is not null)
        {
            var southLink = new NodeLink(current, "North", current.South);
            if (!links.Contains(southLink))
            {
                links.Add(southLink);
                exploreNode(current.South, links);
            }
        }
    
        if (current.West is not null)
        {
            var westLink = new NodeLink(current, "North", current.West);
            if (!links.Contains(westLink))
            {
                links.Add(westLink);
                exploreNode(current.West, links);
            }
        }
    }
}
