@page "/TwistyMaze"
@using Microsoft.Extensions.WebEncoders.Testing
@using Microsoft.VisualBasic
@using labyrinth
@using nifty_labyrinth;
@using MermaidJS.Blazor

<PageTitle>Basic Maze Visualizer</PageTitle>
<body>
    <div>
        <h1>Enter your name</h1>
        <input @bind="userName" />
        <button @onclick="generateMaze">Generate Basic Maze</button>
    </div>   

    <div>
        <h2>Verify Path</h2>
        <input @bind="pathToVerify" />
        <button @onclick="verifyPath">Verify Path</button>
    </div>

    <div>
        <h2>Preview Results.</h2>
        <MermaidDiagram Definition=@mazeBody />
    </div> 
</body>




@code
{
    string userName;
    string mazeBody;
    string pathToVerify;
    bool isPathValid;
    IEnumerable<NodeLink> links;

    private void generateMaze()
    {
        (var newLinks, mazeBody, MazeCell start) = MazeGenerator.GenerateMaze(userName, isTwisty: true);
        links = newLinks;
    }

    private void verifyPath()
    {
        isPathValid = labyrinth.MazeUtilities.isPathToFreedom(null, pathToVerify);
    }
}
